<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h1 th:text="'List of Vets'"></h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.getId()}"></td>
        <td th:text="${vet?.getFirstName()}"></td>
        <td th:text="${vet?.getLastName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>